*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-Color: #ecf0f3;
    --box-Shadow: #cbced1;
    --white-Color: #ffffff;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: var(--background-Color);
}

.darkLight{
    position: absolute;
    top: 90px;
}

.switch {
    width: 80px;
    height: 40px;
    position: relative;
    left: 10px;
    border-radius: 33px;
    background-color: var(--box-Shadow);
}

.switch .flicker {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 100%;
    transition: 0.3s;
    box-shadow: inset 4px 4px 4px rgb(255, 255, 255), inset -4px -4px 4px rgb(195, 193, 198 / 90%);
    background-color: #000000;
}


.switch .moon {
    width: 20px;
    height: 20px;
    box-shadow: 4px 4px 0 0 rgb(0, 0, 0);
    position: absolute;
    top: 5px;
    left: 45px;
    border-radius: 50%;
    transition: 0.3s;
}


.box {
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .2rem;
    box-shadow: 4px 4px 10px var(--box-Shadow),
        -4px -4px 10px var(--white-Color);
}

.display {
    width: 99%;
    display: flex;
    justify-content: center;
}

.display #screen {
    width: 100%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 10px;
    background-color: var(--background-Color);
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px var(--box-Shadow),
        inset -8px -8px 8px var(--white-Color);
}

button {
    width: 80px;
    height: 30px;
    margin: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 3px 3px 8px #00000020,
        -3px -3px 8px var(--white-Color);
    transition: 0.1s linear;
}

button:hover {
    box-shadow: inset 5px 5px 10px rgba(16, 16, 16, 0.1),
        inset -5px -5px 10px var(--white-Color);
}

.buttons {
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.advancedCalculate {
    width: 33.33333%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.numbersAndActions {
    width: 66.6666%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#ac {
    background: #ff3399;
    color: var(--white-Color);
}

#ac:hover {
    box-shadow: inset 5px 5px 8px #e60073,
        inset -5px -5px 8px #ff3399;
}

#ce {
    background: #33beff;
    color: var(--white-Color);
}

#ce:hover {
    box-shadow: inset 5px 5px 8px #0189d8,
        inset -5px -5px 8px #33beff;
}

.CeMobile,
.SqrtMobile {
    display: none;
}

.Column {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark button ,.dark .container{
    background-color: rgb(57, 57, 57);
    color: rgb(246, 169, 241);
    transition: 0.3s;
}

.dark .flicker{
    transform: translateX(2.5em);
    background-color: #fcc922;
}
.dark .moon{
    transform: translateX(-2.5em);
}

/*  Media 900px  */

@media(max-width:900px) {

    .container {
        height: 100vh;
    }

    .box {
        height: 55vh;
    }

    button {
        width: 70px;
    }

    .buttons {
        width: 100%;
    }

    .numbersAndActions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .advancedCalculate,
    .OpenParantez,
    .CloseParantez {
        display: none;
    }

    .CeMobile,
    .SqrtMobile {
        display: inline-block;
    }
}


/* Media 400px */
@media(max-width:400px) {
    .box {
        width: 85%;
        height: 55vh;
    }

    button {
        width: 45px;
    }
}


/* Media 300px */

@media(max-width:300px) {
    .box {
        width: 85%;
        height: 55vh;
    }

    button {
        width: 32px;
    }
}