* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroundColor: #ecf0f3;
    --boxShadow: #cbced1;
    --whiteColor: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--backgroundColor);
}

.box {
    width: 45%;
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px var(--boxShadow),
        -12px -12px 20px var(--whiteColor);
}

.display #screen {
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 10px;
    background-color: var(--backgroundColor);
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px var(--boxShadow),
        inset -8px -8px 8px var(--whiteColor);
}

.row {
    display: flex;
}

.buttons {
    width: 100%;
    margin: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.buttons .row button{
    width: 80px;
    height: 30px;
    margin: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020,
        -5px -5px 8px var(--whiteColor);
    transition: 0.1s linear;
}

.buttons .row button:hover{
    box-shadow:inset 5px 5px 8px rgba(16, 16, 16, 0.1),
    inset -5px -5px 8px var(--whiteColor);
}

#ac{
    background: #ff3399;
    color: var(--whiteColor);
}

#ac:hover{
    box-shadow:inset 5px 5px 8px #e60073,
    inset -5px -5px 8px #ff3399;
}

#ce{
    background: #33beff;
    color: var(--whiteColor);
}

#ce:hover{
    box-shadow:inset 5px 5px 8px #0189d8,
    inset -5px -5px 8px #33beff;
}